.home {
  --navbar-height: 100px;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.home-main {
  height: calc(100vh - var(--navbar-height));
  overflow: auto;
  background-color: black;
}
