.home {
  --home-padding: 30px;
  --navbar-height: 100px;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.home-main {
  height: calc(100vh - var(--navbar-height) - var(--home-padding));
  overflow-y: auto;
  padding: var(--home-padding);
}
